Sweden/Stockholm/raw/Arstrafik.gpkg
France/france.ipynb
France/source.txt
France/tmja2019-shp/TMJA2019.cpg
France/tmja2019-shp/TMJA2019.csv
France/tmja2019-shp/TMJA2019.dbf
France/tmja2019-shp/TMJA2019.shp
France/tmja2019-shp/TMJA2019.shx
Ireland/Dublin/raw/scatsapril2023.zip
Ireland/Dublin/raw/scatsaugust2023.zip
Ireland/Dublin/raw/scatsdecember2023.zip
Ireland/Dublin/raw/scatsfebruary2023.zip
Ireland/Dublin/raw/scatsjanuary2023.zip
Ireland/Dublin/raw/scatsjanuary2024.zip
Ireland/Dublin/raw/scatsjuly2023.zip
Ireland/Dublin/raw/scatsjune2023.zip
Ireland/Dublin/raw/scatsmarch2023.zip
Ireland/Dublin/raw/scatsmay2023.zip
Ireland/Dublin/raw/scatsnovember2023.zip
Ireland/Dublin/raw/scatsoctober2023.zip
Ireland/Dublin/raw/scatsseptember2023.zip
Italy/italy.ipynb
Italy/location_anas_sensors.csv
Luxembourg/Luxembourg/raw/donneestrafic-2023.xlsx
Luxembourg/Luxembourg/Luxembourg traffic count.ipynb
Norway/sensors norway.png
Norway/FRENCH_Documentation_Trafikkdata_Om_trafikkdata.pdf
Norway/NORWAY_Trafikkdata _ Om trafikkdata.pdf
Estonia/Tallinn/raw/003bbc41-6cd8-428c-acc0-7d11e62cf602-ll_2024.csv.csv
Greece/report_road_traffic_attica_2024-01-01_2024-01-27.csv
United Kingdom/dft_traffic_counts_aadf.zip
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W00_20230101_20230108.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W01_20230108_20230115.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W02_20230115_20230122.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W03_20230122_20230129.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W04_20230129_20230201.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W05_20230201_20230205.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W05_20230205_20230212.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W06_20230212_20230219.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W07_20230219_20230226.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W08_20230226_20230301.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W09_20230301_20230305.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W09_20230305_20230312.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W10_20230312_20230319.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W11_20230319_20230326.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W12_20230326_20230401.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W13_20230401_20230402.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W13_20230402_20230409.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W14_20230409_20230416.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W15_20230416_20230423.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W16_20230423_20230430.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W17_20230430_20230501.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W18_20230501_20230507.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W18_20230507_20230514.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W19_20230514_20230521.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W20_20230521_20230528.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W21_20230528_20230601.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W22_20230601_20230604.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W22_20230604_20230611.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W23_20230611_20230618.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W24_20230618_20230625.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W25_20230625_20230701.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W26_20230701_20230702.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W26_20230702_20230709.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W27_20230709_20230716.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W28_20230716_20230723.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W29_20230723_20230730.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W30_20230730_20230801.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W31_20230801_20230806.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W31_20230806_20230813.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W32_20230813_20230820.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W33_20230820_20230827.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W34_20230827_20230901.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W35_20230901_20230903.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W35_20230903_20230910.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W36_20230910_20230917.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W37_20230917_20230924.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W38_20230924_20231001.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W39_20231001_20231008.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W40_20231008_20231015.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W41_20231015_20231022.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W42_20231022_20231029.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W43_20231029_20231101.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W44_20231101_20231105.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W44_20231105_20231112.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W45_20231112_20231119.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W46_20231119_20231126.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W47_20231126_20231201.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W48_20231201_20231203.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W48_20231201_20231208.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W48_20231203_20231210.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W49_20231208_20231215.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W49_20231210_20231217.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W50_20231215_20231222.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W50_20231217_20231224.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W51_20231222_20231229.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W51_20231224_20231231.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W52_20231229_20240101.txt
France/Paris/raw/opendata_txt_2023/trafic_capteurs_2023_W52_20231231_20240101.txt
Italy/Milan/raw/ds2710_ingressi_areac_2024_01.zip
Italy/Milan/raw/ds2726_ingressi_areac_2024_02.zip
Italy/Milan/raw/ds2730_ingressi_areac_2024_03.zip
Italy/Milan/raw/ds2793_ingressi_areac_2024_04.zip
Italy/Milan/raw/ds2794_ingressi_areac_2024_05.zip
Italy/Milan/raw/ds2801_ingressi_areac_2024_06.zip
Italy/Milan/raw/ds2825_ingressi_areac_2024_07.zip
Italy/Milan/raw/ds2826_ingressi_areac_2024_08.zip
assets/__pycache__/map_matching_OSM.cpython-39.pyc
environment.yaml
assets/__pycache__/map_matching_OSM.cpython-312.pyc
assets/__pycache__/temporal_agg.cpython-312.pyc
Spain/Madrid/raw/01-2024.zip
Spain/Madrid/raw/02-2024.zip
Spain/Madrid/raw/03-2024.zip
Spain/Madrid/raw/04-2024.zip
Spain/Madrid/raw/05-2024.zip
Spain/Madrid/raw/06-2024.zip
Spain/Madrid/raw/07-2024.zip
Spain/Madrid/raw/08-2024.zip
Spain/Madrid/raw/09-2024.zip
Spain/Madrid/raw/10-2024.zip
Spain/Madrid/raw/11-2024.zip
Spain/Madrid/raw/12-2024.zip
Spain/Madrid/raw/pmed_ubicacion_01-2024.zip
Spain/Madrid/raw/pmed_ubicacion_02-2024.zip
Spain/Madrid/raw/pmed_ubicacion_03-2024.zip
Spain/Madrid/raw/pmed_ubicacion_04-2024.zip
Spain/Madrid/raw/pmed_ubicacion_05-2024.zip
Spain/Madrid/raw/pmed_ubicacion_08-2024.zip
Spain/Madrid/raw/pmed_ubicacion_09-2024.zip
Spain/Madrid/raw/pmed_ubicacion_10-2024.zip
Spain/Madrid/raw/pmed_ubicacion_11-2024.zip
Spain/Madrid/raw/pmed_ubicacion_12-2024.zip
Spain/Madrid/Estructura_DS_Contenido_Trafico_Historico.pdf
Switzerland/Zurich/raw/sid_dav_verkehrszaehlung_miv_od2031_2024.csv
assets/map_matching_experiments.ipynb
assets/temporal_experiments.ipynb
assets/old_func.py
fi3.png
fi3.svg
assets/example
assets/cities_available.ipynb
assets/__pycache__/validate_dataset.cpython-312.pyc
France/Tours/raw/flux_routiers_2022_de_tours_et_de_son_aire_d_attraction.geojson
assets/fig_2.pdf
assets/fi3.pdf
assets/fig_2.jpg
assets/fig_2.svg
